# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Conda environment
*.conda
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs cache
.cache/
*.bak
*.swp

# Pytest or coverage
htmlcov/
.tox/
.coverage
.pytest_cache/